* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', Arial, sans-serif;
}

body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 0, 0);
}

#content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 0, 0);
    padding-bottom: 20px;
}

.logowrapper {
    
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    padding: 20px;
    width: 100%;

}

.logo {
    width: 140px;
    height: 140px;
}

#tabs {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;   
    height: 20px;
    background-color: rgb(255, 0, 0);
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    opacity: .8;
}

.buttons {
    font-size: 20px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
    width: auto;
    height: auto;
    margin: 10px;
}

.clicked {
    opacity: 1;
    text-decoration: underline rgb(255, 255, 255);
}

/* page wrapper */
#tabcontents {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;   
}

/* Home page */
.headline {
    color: rgb(255, 255, 255);
    padding: 20px;
}

.food {
    box-shadow: 0px 0px 10px black;
    width: 900px; 
}

.about {
    padding: 10px;
    width: 900px;
    color: white;
}

/* menu page */

.menu {
    box-shadow: 0px 0px 10px black;
}

/* contacts page */
#contactswrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: flex-start;
    align-items: flex-start;
    width: 600px;
    background-color: rgb(255, 251, 251);
    grid-gap: 10px 0px;
    border: 10px solid rgb(255, 217, 0);
    padding: 10px;
}

.contacts {
    color: rgb(0, 0, 0);
    height: auto;
    background-color: white;
}

.companyname {
    grid-column-start: 1;
    grid-column-end: 3;
}